
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4ebf3;
    /* color: #ffffff; */
  }

  .custom-button {
    background-color: #ffffff !important;
    color: black !important;
    border: dotted !important;
    transition: background-color 0.3s, color 0.3s !important;
  }
  .custom-button:hover {
    background-color: #ff6680 !important;
    color: white !important;
  }

.error_style {
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.login-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product-item {
  flex: 1 1 calc(20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.product-item img {
  max-width: 100%;
  height: auto;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .login-form {
    padding: 15px;
  }

  .login-form h2 {
    font-size: 1.5em;
  }

  .input-group input {
    padding: 8px;
  }

  button {
    padding: 8px;
    font-size: 14px;
  }
}